@import '~scss/_variables.scss';
@import '~scss/_mixins.scss';

.root {
  width: 100%;
  top: 100%;
  z-index: 2;
  margin-top: 25px;
  margin-left: 25px;
  position: absolute;

  .wrapper {
    box-shadow: 0 8px 20px 6px rgba(31, 51, 73, 0.1);
    background-color: $color-white;
    position: absolute;
    padding: 20px 25px;
    border-radius: 4px;
    transform: translateX(-50%);
    font-size: 12px;
    line-height: 18px;
  }

  .triangle {
    position: absolute;
    top: 0px;
    transform: translateX(-50%) translateY(-60%);
    width: 16px;
    height: 16px;
    font-size: 0;
    line-height: 0;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-bottom: 16px solid $color-white;
    z-index: 3;
  }

  &.top {
    margin-top: -35px;

    .wrapper {
      transform: translate(-50%, -100%);
    }

    .triangle {
      transform: translate(-50%, -60%) rotate(180deg);
    }
  }

  &.left {
    margin-top: 35px;

    .wrapper {
      transform: translate(30%, -50%);
    }

    .triangle {
      transform: translate(150%, -60%) rotate(-90deg);
    }
  }
}
