.root {
  padding-top: 24px;
}

.title {
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  color: #7290ac;
}

.items {
}

.item {
  margin-top: 12px;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  color: #273d56;
}
