@import '~scss/_variables.scss';
@import '~scss/_mixins.scss';

.root {
  height: $height-header;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 11;

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    z-index: 1;
    width: 100%;
  }

  .logo {
    display: flex;
    align-items: center;
    margin-top: 12px;

    img {
      width: 158px;
      margin-top: 12px;
      margin-left: 1px;
      margin-bottom: 0;
    }

    span {
      color: $color-blue1;
      font-size: 15px;
      margin-left: 4px;
      margin-top: -4px;
    }
  }

  &.transparent {
    .nav {
      li {
        a {
          color: $color-white;
        }
      }
    }
  }
}
