@keyframes squareIn {
  0% {
    -webkit-clip-path: polygon(50% -60%, 270% 50%, 50% 160%, -210% 50%);
    clip-path: polygon(50% -60%, 270% 50%, 50% 160%, -210% 50%);
  }
  100% {
    -webkit-clip-path: polygon(50% 37%, 71.5% 49%, 50% 60%, 28% 49%);
    clip-path: polygon(50% 37%, 71.5% 49%, 50% 60%, 28% 49%);
  }
}

.squareIn {
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
  will-change: clip-path;
  animation-name: squareIn;
}
