.root {
  position: relative;
  min-height: 73px;

  &:not(last-child) {
    border-bottom: 1px solid #ffffff;
  }

  &:first-child {
    &.open {
      .name {
        border-radius: 6px 6px 0 0;
      }
    }
  }
}

.name {
  position: relative;
  height: 69px;
  margin: 0;
  padding-top: 25px;
  padding-left: 34px;
  padding-right: 40px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;

  .open & {
    background: #4263fb;
    margin-bottom: 20px;
    color: #ffffff;
    cursor: default;
    pointer-events: none;
  }

  & > div {
    margin-bottom: 20px;
  }
}

.arrow {
  position: absolute;
  right: 20px;
  bottom: 25px;
  transform: rotateZ(-90deg);

  path {
    fill: black;
  }
}
