@import './colors.scss';
@import './_variables.scss';
@import './_mixins.scss';
@import './fonts.scss';

:global {
  // Reassign color vars to semantic color scheme
  $theme-colors: (
    primary: $purple,
    secondary: $gray-600,
    success: $green,
    info: $cyan,
    warning: $yellow,
    danger: $red,
    light: $gray-100,
    dark: $gray-800
  ) !default;

  // Options
  //
  // Quickly modify global styling by enabling or disabling optional features.
  $enable-rounded: true !default;
  $enable-shadows: true !default;
  $enable-gradients: false !default;
  $enable-transitions: false !default;
  $enable-hover-media-query: false !default;
  $enable-grid-classes: true !default;
  $enable-print-styles: true !default;

  // Grid containers
  $grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px
  ) !default;
  //
  // Define the maximum width of `.container` for different screen sizes.

  $container-max-widths: (
    sm: 540px,
    md: 640px,
    lg: 710px,
    xl: 780px
  ) !default;

  // Body
  //
  // Settings for the `<body>` element.

  $body-bg: $white !default;
  $body-color: $gray-700 !default;
  $inverse-bg: $gray-900 !default;
  $inverse-color: $gray-600 !default;

  // Links
  //
  // Style anchor elements.
  $link-decoration: none !default;
  $link-hover-decoration: none !default;

  html,
  body {
    height: 100%;
    width: 100%;
    font-family: 'Open Sans', Helvetica, Arial;
  }

  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  a {
    text-decoration: none;
  }

  p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
  }

  img {
    margin-bottom: 15px;
    max-width: 100%;
  }

  .container-fluid {
    padding-right: $container-padding;
    padding-left: $container-padding;
    max-width: 1920px;

    @include media-landscape() {
      // -- узнать зачем это написал Миша --
      //
      // padding-right: 15px;
      // padding-left: 15px;
      // width: 90%;
      // margin: 0 auto;
    }

    @include media-mobile() {
      width: 92%;
      margin: 0 auto;
    }
  }

  .nopadding {
    padding: 0 !important;
  }

  .nomargin {
    margin: 0 !important;
  }

  .justify-center {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  img {
    margin: 0;
  }
}
