.root {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item {
  display: flex;
  align-items: center;
  margin-bottom: 23px;

  p {
    margin-left: 11px;
    margin-bottom: 0;
  }
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background: #e5eef7;
}
