@keyframes slideScaleOutDownBig {
  from {
    transform: translate3d(0, 0, 0) scale(1);
  }

  to {
    visibility: visible;
    transform: translate3d(0, -200%, 0) scale(0);
  }
}

.slideScaleOutDownBig {
  animation-name: slideScaleOutDownBig;
}
