@import '~scss/_mixins.scss';
@import '~scss/_variables.scss';

@mixin blackoutEffect {
  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0;
    border-radius: 40px;
    transition: opacity 0.35s;
  }

  &:hover {
    &:after {
      opacity: 0.2;
    }
  }

  &.disabled {
    &:after {
      content: none;
    }
  }
}

.root {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 41px;
  flex-shrink: 0;
  padding: 0 34px;
  border-radius: 40px;
  cursor: pointer;

  span {
    flex-shrink: 0;
    z-index: 1;
  }

  &:focus {
    outline: none;
  }

  &.disabled {
    opacity: 0.3;
    cursor: default;
  }
}

.iconLeft {
  margin-right: 5px;
}

.iconRight {
  margin-left: 5px;
}

.theme_default {
  color: white;
  font-size: 14px;
  font-weight: 600;
  border: none;
  text-transform: uppercase;

  @include blackoutEffect;
  @include backgroundGradient(#4263fb, #647fff, 0deg);
}

.theme_purple {
  color: white;
  font-size: 12px;
  font-weight: 600;
  border: none;
  text-transform: uppercase;

  @include blackoutEffect;
  @include backgroundGradient(#7752eb, #5257eb, 90deg);
}

.theme_gradient {
  color: white;
  font-size: 12px;
  font-weight: 600;
  border: none;
  text-transform: uppercase;

  @include blackoutEffect;
  @include backgroundGradient(#764bff, #4263fb, 0deg);
}

.theme_gradientInvert {
  color: white;
  font-size: 12px;
  font-weight: 600;
  border: none;
  text-transform: uppercase;

  @include blackoutEffect;
  @include backgroundGradient(#4263fb, #764bff, 0deg);
}

.theme_light {
  color: #273d56;
  font-size: 12px;
  background: #ffffff;
  font-weight: 600;
  border: none;
  text-transform: uppercase;
  transition: background 0.35s;

  &:hover:not(.disabled) {
    background: #cfd2d6;
  }
}

.theme_transparent {
  color: white;
  font-size: 12px;
  background: rgba(white, 0.4);
  font-weight: 600;
  border: none;
  text-transform: uppercase;
  transition: background 0.35s;

  &:hover:not(.disabled) {
    background: #cfd2d6;
  }
}

.theme_borderLight {
  color: #ffffff;
  font-size: 12px;
  background: transparent;
  font-weight: 600;
  border: 2px solid #ffffff;
  text-transform: uppercase;
  transition: border-color 0.35s, color 0.35s;

  &:hover:not(.disabled) {
    color: #cfd2d7;
    border-color: #cfd2d7;
  }
}

.theme_borderBlue {
  color: #4263fb;
  font-size: 12px;
  background: transparent;
  font-weight: 600;
  border: 1px solid #4263fb;
  text-transform: uppercase;
  transition: border-color 0.35s, color 0.35s;

  &:hover:not(.disabled) {
    color: #3350ca;
    border-color: #3350ca;
  }
}

.theme_orange {
  color: #ffffff;
  font-size: 12px;
  font-weight: 600;
  border: none;
  text-transform: uppercase;

  @include blackoutEffect;
  @include backgroundGradient(#f89640, #f87140, -30deg);
}

.theme_lightBlue {
  color: #ffffff;
  font-size: 12px;
  font-weight: 600;
  border: none;
  text-transform: uppercase;

  @include blackoutEffect;
  @include backgroundGradient(#71ceee, #718cee, -30deg);
}

.theme_lightPink {
  color: #ffffff;
  font-size: 12px;
  font-weight: 600;
  border: none;
  text-transform: uppercase;

  @include blackoutEffect;
  @include backgroundGradient(#ba67d5, #ed6498, 160deg);
}

.theme_roundWhite {
  border-radius: 50%;
  box-shadow: 0 0 14px 6px rgba(39, 61, 86, 0.14);
  border: none;
  background-color: white;
  height: 50px;
  width: 50px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: box-shadow 0.35s;

  svg {
    margin: 0;
  }

  @include hover {
    box-shadow: 0 0 14px 4px rgba(39, 61, 86, 0.14);
  }

  &:active {
    box-shadow: 0 0 14px 1px rgba(39, 61, 86, 0.14);
  }
}

.theme_borderGray {
  flex-direction: column;
  border: 2px solid #c6d2e1;
  text-transform: uppercase;
  background-color: transparent;
  height: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: 600;

  .additionalLabel {
    color: #737980;
    font-size: 10px;
  }
}

.theme_success {
  padding: 0;
  background-color: #32c377;
  color: #fff;
  border: none;

  svg {
    fill: #fff;
    margin-right: 0;
    margin-left: -8px;
  }

  &.disabled {
    opacity: 1;
    cursor: default;

    &:active {
      box-shadow: none;
      border: none;
    }
  }

  .additionalLabel {
    color: #fff;
  }
}

.theme_error {
  padding: 0;
  background-color: #df542d;
  color: #fff;
  border: none;

  svg {
    fill: #fff;
    margin-right: 0;
    margin-left: -8px;
  }

  &.disabled {
    opacity: 1;
    cursor: default;

    &:active {
      outline: none;
      border: none;
    }
  }

  .additionalLabel {
    color: #fff;
  }
}

.theme_disabled {
  padding: 0;
  background-color: #93999f;
  color: #fff;
  border: none;

  svg {
    fill: #fff;
    margin-right: 0;
  }

  &.disabled {
    opacity: 1;
    cursor: default;

    &:active {
      border: none;
      border: none;
    }
  }

  .additionalLabel {
    color: #fff;
  }
}

.textTransform_uppercase {
  text-transform: uppercase;
}

.textTransform_default {
  text-transform: inherit;
}
