@import '~scss/_variables.scss';
@import '~scss/_mixins.scss';

.fontSize {
  &_mini {
    font-size: 12px;
  }

  &_small {
    font-size: 14px;
  }

  &_normal {
    font-size: 16px;
  }

  &_medium {
    font-size: 18px;
  }

  &_medium_l {
    font-size: 20px;
  }

  &_medium_xl {
    font-size: 24px;
  }

  &_big {
    font-size: 36px;
  }

  &_large {
    font-size: 48px;
  }

  &_great {
    font-size: 64px;
  }

  @include media-portrait {
    &_medium {
      font-size: 16px;
    }

    &_medium_xl {
      font-size: 20px;
    }

    &_big {
      font-size: 28px;
    }

    &_large {
      font-size: 32px;
    }

    &_great {
      font-size: 48px;
    }
  }
}

.mobileFontSize {
  &_medium {
    @include media-mobile() {
      font-size: 18px;
    }
  }
}

.desktopFontSize {
  &_big {
    @include media-desktop() {
      font-size: 36px;
    }
  }
}

.fontWeight {
  &_regular {
    font-weight: 400;
  }
  &_semibold {
    font-weight: 600;
  }
}

.color {
  &_light {
    color: $color-text-light;
  }

  &_lightGray {
    color: $color-text-light-gray;
  }

  &_primary {
    color: $color-text-primary;
  }

  &_secondary {
    color: $color-text-secondary;
  }

  &_tertiary {
    color: $color-text-tertiary;
  }

  &_emphasis {
    color: $color-text-emphasis;
  }

  &_emphasisDark {
    color: $color-text-emphasis-dark;
  }
}

.textAlign {
  &_auto {
    text-align: inherit;
  }

  &_left {
    text-align: left;
  }

  &_center {
    text-align: center;
  }

  &_right {
    text-align: right;
  }
}

.portraitTextAlign {
  &_left {
    @include media-portrait() {
      text-align: left;
    }
  }

  &_center {
    @include media-portrait() {
      text-align: center;
    }
  }

  &_right {
    @include media-portrait() {
      text-align: right;
    }
  }
}

.lineHeight {
  &_tiny {
    line-height: 1;
  }

  &_small {
    line-height: 1.25;
  }

  &_normal {
    line-height: 1.4;
  }

  &_medium_s {
    line-height: 1.6;
  }

  &_medium {
    line-height: 1.7;
  }

  &_medium_l {
    line-height: 1.85;
  }
}

.cursor {
  &_auto {
    cursor: auto;
  }

  &_pointer {
    cursor: pointer;
  }
}
