@import "scss/_mixins.scss";

.root {
  display: flex;
  width: 100%;
}

.wrapper {
  flex: none;
  width: 33.3333%;
}

.children {
  flex: none;
  width: 66.6666%;
  padding-left: 36px;
}

.menu {
  position: sticky;
  top: 100px;
  background: #f1f3f5;
  border-radius: 8px;

  @include media-lg {
    max-width: 336px;
    width: 100%;
  }

  a {
    &:hover {
      text-decoration: none;
    }
  }
}
