@import "scss/_mixins.scss";

.root {
  display: flex;
  align-items: center;
  width: 100%;
  height: 61px;
  background: #4263fb;
  padding: 0 9.4vw;
  user-select: none;

  @include media-mobile {
    display: none;
  }
}

.item {
  height: 100%;
  display: flex;
  align-items: center;
  margin-right: 76px;
  font-size: 18px;
  color: #c6d2e1;
  cursor: pointer;

  &:hover {
    color: #dce4ed;
  }

  &.select {
    position: relative;
    color: #ffffff;
    font-weight: 600;
    pointer-events: none;
    cursor: default;

    &::before {
      content: "";
      position: absolute;
      left: 50%;
      bottom: 0;
      width: 50%;
      height: 2px;
      background: white;
      border-radius: 5px 5px 0 0;
      transform: translateX(-50%) scaleX(2.5);
    }
  }
}

.lastItem {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 0;
  color: #ffffff;

  svg {
    margin-right: 7px;
  }

  path {
    fill: #ffffff;
  }
}
