@keyframes modalAnimationIn {
  from {
    transform: scale(1.1);
  }
  to {
    transform: scale(1);
  }
}

@keyframes modalAnimationOut {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0.9);
    opacity: 0;
  }
}

@keyframes modalAnimationVisible {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes modalAnimationHidden {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.root {
  position: fixed;
  width: 0%;
  height: 0%;
  top: 0;
  left: 0;
  background-color: rgba(37, 42, 48, 0.7);
  z-index: 1001;
  display: flex;
  overflow: hidden;

  position: fixed;
  width: 100%;
  height: 100%;

  .inner {
    width: 587px;
    max-height: 432px;
    background-color: white;
    margin: auto;
    padding: 40px;
    text-align: center;
    border-radius: 3px;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

    .cross {
      position: absolute;
      top: 22px;
      right: 22px;
      background: none;
      border: none;
      cursor: pointer;

      &:hover {
        transform: scale(1.1);
      }

      &:focus {
        outline: none;
        border: none;
      }
    }

    .title {
      margin-top: 30px;
    }

    .description {
      margin-top: 10px;
      margin-bottom: 20px;
    }

    .actions {
      display: flex;
      justify-content: center;

      button {
        width: 136px;
        height: 36px;

        &:first-child {
          margin-right: 16px;
        }
      }
    }
  }
}
