.root {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 40px;
  padding: 5px 0;
  padding-right: 20px;
  padding-left: 45px;
  background: #f8f9fa;
  border-bottom: 1px solid #ffffff;
  cursor: pointer;

  p {
    margin: 0;
  }

  &.open {
    background: #f1f3f5;
    border-bottom: none;
    pointer-events: none;
    cursor: default;

    &::before {
      position: absolute;
      content: "";
      left: 0;
      top: 0;
      height: 100%;
      width: 5px;
      background: #4568f7;
    }
  }
}
