@keyframes slideScaleInUpBig {
  from {
    transform: translate3d(0, 200%, 0) scale(0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0) scale(1);
  }
}

.slideScaleInUpBig {
  animation-name: slideScaleInUpBig;
}
