@keyframes slideScaleInUp {
  from {
    transform: translate3d(0, 100%, 0) scale(0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0) scale(1);
  }
}

.slideScaleInUp {
  animation-name: slideScaleInUp;
}
