.root {
  display: flex;
  flex-flow: column;
  color: #252a30;
  padding: 0 9.4vw;
  margin-top: 30px;
  margin-bottom: 40px;

  p {
    margin: 0;
    padding: 0;
  }
}

.sub {
  position: relative;
  bottom: -6px;
  color: #252a2f;

  &:hover {
    color: #6682fb;
  }
}
