@import 'scss/_variables.scss';
@import 'scss/_mixins.scss';

@keyframes showPopover {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes hidePopover {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.8);
  }
}

.root {
  padding-top: 80px;

  & > :first-child {
    margin-bottom: 73px;
  }

  .icon {
    height: 18px;
  }

  hr {
    border: 1px solid $color-gray2;
    margin-top: 30px;
    margin-bottom: 0;
  }

  .nav {
    list-style: none;
    margin-bottom: 0;
    margin-top: 12px;
    margin-left: 48px;

    li {
      font-size: 16px;
      font-weight: bold;
      line-height: 44px;

      &.main {
        font-weight: 400;
        font-size: 14px;
      }

      a {
        color: $color-black2;

        &:hover {
          color: $color-blue1;
        }
      }

      // &:nth-child(1),
      // &:nth-child(2),
      // &:nth-child(3) {
      //   font-weight: 400;
      //   font-size: 14px;
      // }
    }
  }

  .copyrigts {
    & > * {
      color: $color-copyright;
      font-size: 14px;
      font-weight: 500;
      padding-right: 17px;
      letter-spacing: 0.5px;

      &:hover {
        color: $color-blue1;
      }
    }
  }

  .social {
    text-align: right;
    display: flex;
    justify-content: flex-end;

    & > * {
      padding-left: 20px;
      transition: transform 0.4s ease-out;

      img {
        height: 20px;
      }
    }
  }

  .qrCode {
    height: 200px !important;
  }

  .address {
    color: $color-gray3;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 30px;
    padding-top: 18px;
  }

  .logo {
    & > * {
      display: block;
    }
  }

  @include media-landscape {
    .nav {
      margin-left: 0px;
    }
  }

  @include media-portrait {
    .logo {
      & > * {
        display: none;
      }
    }

    .nav {
      margin-left: -15px;
    }

    .social,
    .copyrigts {
      text-align: center;
      padding-bottom: 10px;
    }

    .social {
      & > a {
        padding-left: 10px;
        padding-right: 10px;
      }
    }

    .address {
      text-align: center;
    }
  }
}
