.root {
  & > div {
    display: flex;
  }

  .headingTitle {
    color: #7290ac;
    border-bottom: 1px solid;
    padding-top: 10px;
    padding-bottom: 6px;
    margin-bottom: 16px;
    border-color: #c6d2e1;
  }

  .navLink {
    color: #273d56;
    font-weight: 700;
    margin-bottom: 13px;
    display: block;
    cursor: pointer;

    &:hover {
      color: #4263fb;
    }
  }

  .navMore {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.row {
  flex: 1 auto;
}

.side {
  display: flex;
  flex-flow: column;
  padding: 30px;
  padding-top: 24px;
  width: 184px;
  min-height: calc(100% + 40px);
  margin-top: -20px;
  margin-right: -25px;
  background-color: #f1f3f4;

  p {
    margin: 0;
  }
}

.line {
  width: 100%;
  height: 1px;
  background: #e2e6ea;
  margin-top: 3px;
}

.item {
  margin-top: 20px;
}

.allDocs {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: calc(100% + 73px);
  height: 45px;
  margin-left: -25px;
  border-top: 1px solid #d6dee8;
}

.more {
  span {
    font-size: 12px;
  }

  path {
    fill: #4263fb;
  }
}
